/lab2/2.ExpressApp/node_modules
/lab2/2.ExpressApp/package-lock.json
/MEANGamesApp/node_modules
/MEANGamesApp/package-lock.json
/lab3/MultiplyNumbers/node_modules
/lab3/MultiplyNumbers/package-lock.json